<h1>ADD CUSTOMER DETAILS:</h1>

<form action="/add_customer", method="POST">
    <label for="name">Customer Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Customer Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="phone">Customer Phone:</label><br>
    <input type="text" id="phone" name="phone" required><br><br>

    <input type="submit" value="Add Customer">
</form>

<p><a href="/customers">Back to Customers</a></p>